doctype html
html(lang="de")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title careMORE
    body
      .container
        p Pug source code!
      include includes/foot.pug